.App {
  text-align: center;
}
.Header {
  color: slategray;
}
/* write your parent styles in here for your App.js */
h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.container {
  width: 85% !important;
  margin: 0 auto;
  border: 1px solid white;
  padding: 1%;
}